{% load static %}
<!doctype html>

<html
    {% block html_attrs %}
    lang="en"
    {% endblock %}>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% block head_meta_tags %}{% endblock %}

    {% include "_icon_head_links.html" %}

    <link
        rel="stylesheet"
        href="{% static "node_modules/normalize.css/normalize.css" %}">
    <link
        rel="stylesheet"
        href="{% static "static/base.css" %}">

    {% block extra_head %}{% endblock %}

</head>

<body {% block body_attrs %}{% endblock %} class="{% block body_class %}{% endblock %}">

    {% block body %}
    {% endblock %}

    {% block scripts %}
        <script src="{% static "static/lib/underscore.js" %}"></script>
        <script src="{% static "static/svg_fallback.js" %}"></script>
        <script>
            (function () {
                window.fixSvgs();
            }());
        </script>
    {% endblock %}

    {% block extra_scripts %}{% endblock %}

    {% block analytics %}{% endblock %}
</body>
